**/support/__pycache__
**/tests/__pycache__
**/tests/get_api/__pycache__
**/tests/mqtt/__pycache__
**/tests/post_api/__pycache__
**/.idea
**/*.log
**/venv
**/.pytest_cache
**/tests/.pytect_cache
**/tests/get_api/.pytect_cache
**/**/tests/get_api/.pytect_cache
**/tests/post_api/.pytect_cache
**/**/tests/post_api/.pytect_cache
**/fixture/.pytest_cache
**/**/tests/.pytest_cache
**/tests/.pytest_cache
*.yml
**/__pycache_
allure_results
__pycache__
