**/support/__pycache__
**/tests/__pycache__
**/.idea
**/*.log
**/venv
**/.pytest_cache
**/tests/.pytect_cache
**/tests/get_api/.pytect_cache
**/**/tests/get_api/.pytect_cache
**/tests/post_api/.pytect_cache
**/**/tests/post_api/.pytect_cache
**/fixture/.pytest_cache
**/**/tests/.pytest_cache
**/tests/.pytest_cache
**/config.yaml
**/__pycache__
