**/support/__pycache__
**/support/schema/__pycache__
**/tests/__pycache__
**/tests/get_api/__pycache__
**/tests/get_api/biseness_tests/__pycache__
**/tests/mqtt/__pycache__
**/tests/post_api/__pycache__
**/.idea
**/*.log
**/venv
**/.pytest_cache
*.yml
**/__pycache_
allure_results
__pycache__
.python-version
